<ion-content [fullscreen]="true">
  <div class="head ion-text-center">
    <ion-icon name="list"></ion-icon>
    IMC Calculator
  </div>
  <div class="sex">
    <div class="item ion-text-center">
      <ion-icon name="male"></ion-icon> <br> <br>
      <b>Homme</b>
    </div>
    <div class="item ion-text-center">
      <ion-icon name="female"></ion-icon> <br> <br>
      Femme
    </div>
  </div>

  <div class="taille ion-text-center">
    <p>Taille</p>
    <p><b>183 </b>cm</p>
  </div>

  <div class="age">
    <div class="item ion-text-center">
      poids <br> 74
      <div class="btn">
        <div class="moins">
          <ion-icon name="remove"></ion-icon>
        </div>
        <div class="moins">
          <ion-icon name="add"></ion-icon>
        </div>
      </div>
    </div>
    <div class="item ion-text-center">
      poids <br> 74
      <div class="btn">
        <div class="moins">
          <ion-icon name="remove"></ion-icon>
        </div>
        <div class="moins">
          <ion-icon name="add"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
